.discussion {
  background-color: $bg-lightgrey; // dark gray background

  .discussion-card {
    //background-color: $bg-white; // card background
    margin: 20px 0;
    padding: 10px;
    color: $white;
  }

  h3 {
    margin: 20px 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: $primary-grey; // light gray text
  }

  .author-avatar {
    width: 50px;
    margin-top: 10px;
    border-radius: 50%;
  }

  .upvoted {
    color: $hangout-collab; // green
  }

  .downvoted {
    color: $hangout-silent; // red
  }

  .description-text {
    font-size: 15px;
    margin-top: 35px;
    font-family: 'Open Sans Light', sans-serif;
    text-align: justify;
    color: $secondary-grey; // medium gray text
    line-height: 25px;
    min-height: 100px;
  }

  .discussion-sidebar {
    //background-color: $bg-white; // card background
    margin: 20px 0;
    padding: 20px;

    h5 {
      margin: 10px 0;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      line-height: 1.1;
      color: $primary-grey;
    }
  }
}

.preview-pane {
  padding: 6px 12px;
}

p {
  overflow-wrap: break-word;
  color: $primary-grey;
}
