#slack {
  p, li {
    @include font-face(400, 16px, normal, $primary-grey);
    line-height: 27px;
  }

  .flags img {
    @include border-radius(3px);
    width: 51px;
  }

  .slack-top {
    background: linear-gradient(
        to top,
        rgba(30, 144, 255, 0.5) 0%,
        rgba(30, 144, 255, 0.55) 18%,
        rgba(30, 144, 255, 0.64) 46%,
        rgba(3, 87, 232, 0.8) 100%
      ),
      url(/images/language-logos.svg) center repeat;
    background-size: cover, auto;
    padding: 100px 0;

    h2 {
      @include font-face(700, 32px, bold, $bg-white);
      text-align: center;
    }
  }

  .slack-middle {
    background: $bg-white;
    padding: 50px 0;

    p, li {
      @include font-face(400, 16px, normal, $primary-grey);
      line-height: 1.7;
    }
  }

  .etiquette {
    h1 {
      margin: 60px 0 20px 0;
      font-size: 34px;
      font-weight: 700;
      letter-spacing: -.03rem;
      color: $primary-grey;
    }
    h2 {
      font-size: 27px;
      font-weight: 600;
      line-height: 33px;
      letter-spacing: -1px;
      margin: 0;
      color: $cta-blue;
    }
    h3 {
      font-size: 15px;
      font-weight: 800;
      line-height: 22px;
      min-height: 22px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0;
      color: $primary-grey;
    }
    hr {
      margin-top: 1.9em;
      border-color: $secondary-grey;
      opacity: 0.2;
    }
  }

  .slack-hangout {
    background: $bg-lightgrey;
    padding: 100px 0;
  }

  .divider {
    border-top: 1px solid $secondary-grey;
    width: 60px;
    margin-bottom: 1.65em;
    opacity: 0.2;
  }

  .slack-bottom {
    background: $bg-white;
    padding: 50px 0;
  }

  [data-toggle="popover"] {
    display: inline-block;
  }

  a.user-popover {
    .popover { margin-top: -10px; }

    .popover:hover {
      cursor: default;
    }
  }

  h3.popover-title { margin-top: 0; }
  h3 { font-weight: 200; color: $primary-grey; }
}
