.status-list {
  padding: 0 15px 20px;
  background-color: $bg-lightgrey;
  @include border-radius(0 0 4px 4px);
  overflow-y: auto;

  .title {
    text-align: center;
    padding: 10px 0;
    @include font-face(700, 16px, bold, $black);
  }

  .status-item {
    margin: 0;
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid $divider;
    overflow: auto;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: lighten($bg-lightgrey, 3%);
    }

    p {
      margin: 0;
    }

    li {
      display: table-cell;
      vertical-align: top;
    }

    .btn {
      display: inline-block;
      @include font-face(400, 13px, normal, $black);
      transition: color 0.3s ease;

      &:hover {
        color: $cta-blue;
      }
    }

    .edit-learning,
    .delete-learning {
      margin-left: 5px;
      cursor: pointer;

      &:hover {
        color: $dodgerblue;
      }
    }

    span.username {
      @include font-face(700, 13px, italic, $warm-grey);
    }

    .status {
      padding: 0 .4em;
      display: inline-block;
      @include font-face(400, 15px, normal, $primary-grey);
    }

    .status-date {
      @include font-face(400, 13px, italic, $warm-grey);
    }

    .message {
      color: $warm-grey;
      transition: color 0.3s ease;

      &:hover {
        color: $cta-blue;
      }
    }

    .kudo-holder {
      text-align: left;
      vertical-align: top;
      position: relative;
      top: -7px;
    }

    .kudo-count {
      @include font-face(400, 15px, normal, $primary-grey);
    }

    .learning-holder {
      max-width: 90%;

      .learning-title {
        white-space: pre-line;
        color: $primary-grey;
        @include font-face(500, 15px, normal, $primary-grey);
      }
    }
  }
}
